# Ignore the massive dataset folder
data/
[PUB] India_runs_data_and_ai_challenge.zip

# Ignore python cache files
__pycache__/
*.pyc

# The .pkl file is 108MB (too big for GitHub), so we ignore it.
# We will push precomputed_data.zip (89MB) instead!
precomputed_data.pkl 
!precomputed_data.zip
venv/
env/
.env
